@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Russo One', sans-serif;


}


.bg2 {

    width: 1400px;
    height: 750px;
    margin: 20px auto;
    background-color: #d7cfc0;
    position: absolute;
    border-radius: 0px 60px 60px 60px;
    left: 250px;
    top: 80px;

}



.randompic {
    background-image: url("../img/space5.jpg");
    width: 250px;
    height: 250px;
    position: absolute;
    left: 25px;
    top: 30px;
    border-radius: 150px 150px 0 0;
}

.log {
    color: rgba(0, 0, 0, 0.763);
    letter-spacing: 0.05em;
    padding: 5px 0;
    position: absolute;
    left: 10px;
    top: 110px;
    text-align: center;
    opacity: 100 !important;


}

.nameinput {
    text-align: center;
    width: 30 px;
    height: 40px;
    font-size: 15px;
    font-family: 'Russo One', sans-serif;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(19, 19, 19, 0.742);
    background-color: #ecbeb4;
    position: absolute;

}

.loginbutton {

    text-align: center;

    font-size: 15px;
    position: absolute;
    border: 0;
    background-size: cover;
    background-color: transparent;

    cursor: pointer;
    left: 195px;
    top: 13px;

}

.userinfostyle {
    color: #ecbeb4;
    position: absolute;
    width: 240px;
    height: 650px;
    text-align: center;
    top: 100px;
    left: 25px;
}

.boxleft {

    width: 300px;
    height: 650px;
    background-color: rgb(255, 248, 230);
    border-radius: 20px;
    position: absolute;
    left: 50px;
    top: 55px;



}

.boxcenterbottom {



    left: 400px;
    top: 400px;

    width: 510px;
    height: 230px;
    background-color: #d9aaaa;
    position: absolute;
    text-align: center;

}

.music {
    font-size: 20px;
    position: absolute;
    text-transform: capitalize;
    left: 290px;
    top: 40px;
    text-align: left;
}

.artist {
    font-size: 15px;
    position: absolute;
    left: 290px;
    top: 95px;

}

.disk {
    position: relative;
    display: block;
    margin: 40px auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url('../img/music1.jpg');
    background-size: cover;
    box-shadow: 0 0 0 10px rgba(255 255 255 0.08);
    left: -110px;
    top: -15px;
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
}

.disk.play {
    animation-play-state: running;
}

.disk::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ecbeb4;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.playbtn {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f6cf96;
    cursor: pointer;
    border: none;
    left: 105px;
    top: -130px;

}

.playbtn span {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.932);
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.playbtn span:nth-child(2) {
    left: 55%;
    transform-origin: center;
}

.playbtn.pause span:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}

.playbtn.pause span:nth-child(1) {
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);

}

.playbtn.pause {
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0;
    }

    50% {
        box-shadow: 0 0 0 5px rgba(255 255 255 0.01);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    }
}

.btn {


    width: 1px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.backward-btn {
    position: absolute;
    left: 300px;
    top: 160px;
    left: 300px;
}

.forward-btn {
    position: absolute;
    left: 415px;
    top: 160px;


}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.boxcentertop {

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 600px;
    height: 300px;
    background-color: rgb(255, 248, 230);
    font-family: 'Russo One', sans-serif;
    border-radius: 20px;
    position: absolute;
    left: 400px;
    top: 55px;

}

.boxcenterbottom2 {
    box-sizing: border-box;
    background-color: rgb(255, 248, 230);
    width: 600px;
    height: 50px;
    left: 400px;
    position: absolute;
    top: 650px;
    border-radius: 30px;
    word-break: normal;
}

.quote {
    width: 550px;
    height: 5px;
    position: absolute;
    left: 20px;
    top: 7px;
    position: relative;
    animation: fadeInUp 1s;
    color: rgba(19, 19, 19, 0.742);

}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.boxright {

    width: 300px;
    height: 300px;
    background-color: rgb(255, 248, 230);
    border-radius: 20px;
    position: absolute;
    left: 1050px;
    top: 55px;


}

.boxcentertop::-webkit-scrollbar {
    display: none;
}

.memoList {
    padding: 15px;
    line-height: 200%;
    list-style: none;
    width: 545px;
    position: absolute;
    left: 15px;
    top: 50px;
    display: grid;

}

.memoList li {
    text-indent: 0.5em;
    background-color: #a9a8a83d;
    border-radius: 20px;
    margin: 5px;
    font-size: 15px;
    color: rgba(19, 19, 19, 0.798);
    letter-spacing: 1px;


}



.memoList button {
    background-color: transparent;
    border: 0;
    padding: 3px
}

.memoinput {

    text-align: center;
    width: 530px;
    height: 30px;
    font-size: 15px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 0.05em;
    border-radius: 5px;
    border: 2px solid rgba(19, 19, 19, 0.742);
    background-color: #ecbeb4;
    position: absolute;
    color: rgb(19, 19, 19, 0.742);
    left: 35px;
    top: 20px;
}


.photos {
    background-image: url("../img/pic2.jpg");
    width: 260px;
    height: 240px;
    background-image: cover;
    position: absolute;
    left: 1070px;
    top: 420px;
}

.homeImg {
    background-image: url("../img/home.png");
    filter: invert(75%) contrast(90%) sepia(25%);
    width: 100px;
    height: 100px;
    position: absolute;
    left: 60px;
    top: -130px;
}

.polaroid {
    width: 300px;
    height: 300px;
    background-image: url("../img/polaroid.png");
    background-size: cover;
    position: absolute;
    left: 1050px;
    top: 400px;
}


.hidden {
    display: none;
}


.clockanddate {

    color: rgb(255, 248, 230) !important;
    letter-spacing: 0.05em;
    padding: 5px 0;
    position: absolute;
    left: 35px;
    top: 90px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    opacity: 100 !important;
}

.clock {
    font-size: 50px;
    position: absolute;
    left: 20px;
}

.date {
    font-size: 20px;
    position: absolute;
    top: 70px;

}

.weather {
    position: absolute;
    font-size: 1.1em;
    color: rgba(19, 19, 19, 0.798);

}

.weatherInfo {
    text-align: justify;
    position: absolute;
    top: 280px;

}

.weatherIcon {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 100px;
    top: 250px;
}

.airpollution {
    position: absolute;
    top: 530px;
}

.boxcenterbottom3 {
    box-sizing: border-box;
    background-color: rgb(255, 248, 230);
    width: 120px;
    height: 230px;
    left: 880px;
    position: absolute;
    top: 400px;
    border-radius: 0px 30px 30px 0px;
}